name: Workflow B

on:
  push:

jobs:
  Job_B_1:
    runs-on: ubuntu-latest
    steps:
      - name: Create one file
        run: |
          echo "Used commit is: $GITHUB_SHA" > workflow_c.txt
          echo "Current time is: $(date) " >> workflow_c.txt
          echo "Triggering event is: $GITHUB_EVENT_NAME " >> workflow_c.txt
          cat workflow_c.txt

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: workflow_c
          path: workflow_c.txt
